{% include '_header.html' %}

<div class="content">
    <p>{{ t('common.greeting') }}</p>

    <p>{{ t('reminder_message', profile_name=profile_name) }}</p>

    <div class="expiry-note">
        <strong>{{ t('important_label') }}:</strong> {{ t('expiry_notice', expiry_date=expiry_date) }}
    </div>

    <p>{{ t('action_message') }}</p>

    <center>
        <a href="{{ interview_url }}" class="button">
            {{ t('continue_button') }}
        </a>
    </center>

    <p>{{ t('extension_note') }}</p>
</div>

{% include '_footer.html' %}