{% include '_header.html' %}

<div class="content">
    <p>{{ t('common.greeting') }}</p>

    <p>{{ t('invitation_message', profile_name=profile_name) }}</p>

    <p>{{ t('start_message') }}</p>

    <center>
        <a href="{{ interview_url }}" class="button">
            {{ t('start_button') }}
        </a>
    </center>

    <div class="expiry-note">
        <strong>{{ t('note_label') }}:</strong> {{ t('expiry_notice', expiry_date=expiry_date) }}
    </div>

    <p>{{ t('what_to_expect') }}</p>
    <ul>
        <li>{{ t('expectation_1') }}</li>
        <li>{{ t('expectation_2') }}</li>
        <li>{{ t('expectation_3') }}</li>
        <li>{{ t('expectation_4') }}</li>
    </ul>

    <p>{{ t('questions_note') }}</p>
</div>

{% include '_footer.html' %}