{% include '_header.html' %}

<div class="content">
    <p>{{ t('common.greeting') }}</p>

    <p>{{ t('extension_message', profile_name=profile_name) }}</p>

    <div class="expiry-note">
        <strong>{{ t('new_expiry_label') }}:</strong> {{ expiry_date }}
    </div>

    <p>{{ t('continue_message') }}</p>

    <center>
        <a href="{{ interview_url }}" class="button">
            {{ t('continue_button') }}
        </a>
    </center>

    <p>{{ t('value_message') }}</p>
</div>

{% include '_footer.html' %}