{% include '_header.html' %}

<div class="content">
    <p>{{ t('common.greeting') }}</p>

    <p>{{ t('reset_message') }}</p>

    <center>
        <a href="{{ reset_url }}" class="button">
            {{ t('reset_button') }}
        </a>
    </center>

    <div class="expiry-note">
        <strong>{{ t('note_label') }}:</strong> {{ t('expiry_notice') }}
    </div>

    <p>{{ t('manual_url_message') }}</p>
    <p style="word-break: break-all; font-size: 0.9em; color: #666;">{{ reset_url }}</p>
</div>

{% include '_footer.html' %}